
h2{
	font-family: David;
	font-size: medium;
    font-weight: 50;
    color: rgb(66,133,244);
}

#RegisterSection
{
height: 460px;
}

#LoginSection
{
height: 200px;
}

#RegisterSection,#LoginSection
{
	border-radius:15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	background: #fff;
	padding: 45px;
	box-sizing: border-box;
	border :1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#RegisterSection input,#LoginSection input
{	
	padding: 5px;
	margin-bottom: 30px;
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid lightskyblue;
}

#RegisterSection input[type="submit"],
#LoginSection input[type="submit"]
{
	border-radius: 25px;
	font-size: 20px;
	height: 40px;
	cursor : pointer;
	background: white;
	border: 1px solid #4387f5;
	color: rgb(66,133,244);
	margin-bottom: 0;
	position: fixed;
    width: 20%;
	left:43%;
}
#RegisterSection input[type="submit"]:hover,
#LoginSection input[type="submit"]:hover
{
	background: rgb(66,133,244);
	color: white;
	border: 1px solid rgb(66,133,244);
}

#RegisterSection form div,
#LoginSection form div
{
	position: relative;
}

/*
Place the text on typing area.
*/
#RegisterSection form div label,
#LoginSection form div label
{
	position: absolute;
	top: 3px;
	pointer-events: none;
	left: 0;
	transition: .5s;
}

/*
 zoom out from field after start typing in that field and change original text color.
*/
#RegisterSection input:focus ~label,
#RegisterSection input:valid ~label,
#LoginSection input:valid ~label,
#LoginSection input:valid ~label
{
	left: 0;
	top: -20px;
	color:blue;
	font-size: 12px;
	font-weight: bold;
}


/* Marks "bad" fields after SUBMIT button clicked. */
 #RegisterSection input:focus
/* #RegisterSection input:valid */
{
	border-bottom: 0.5px solid red;
} 

.error_form
{
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}